﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Fanikiwa - Administrator</title>
<link href="/Images/Dollar.ico" rel="shortcut icon" type="image/x-icon" />
<link rel="stylesheet" href="/Content/Site.css" type="text/css" />
<script src="/Scripts/jquery-2.0.3.js" type="text/javascript"></script>
<script src="/Scripts/CustomScripts.js" type="text/javascript"></script>


</head>


<body>

	<header>
		<div class="content-wrapper">

			<div class="float-left">
				<p class="site-title" title="Fanikiwa - Administrator">Fanikiwa
					- Administrator</p>
			</div>


			<div class="float-right">
				<section id="login"></section>
			</div>


			<div id="nav">
				<ul id="menu">

					<li>

						<div class="floatleft">

							<div>
								<a id="btnSubmitIndexForm" style="cursor: pointer;"
									href="/Views/Home/Index.html">Home</a>
							</div>

						</div>

					</li>

					<li id="subMenuSettings">

						<div class="floatleft">

							<div>
								<a id="btnSubmitSettingsForm" style="cursor: pointer;"
									href="/Views/Setting/List.html">Settings</a>
							</div>

						</div>

					</li>

					<li id="subMenuFanikiwaAccounts">

						<div class="floatleft">

							<div>
								<a id="btnSubmitGetAllAccountsForm" style="cursor: pointer;"
									href="/Views/Account/List.html">Accounts</a>
							</div>

						</div>

					</li>

					<li id="subMenuTransactionTypes">

						<div class="floatleft">

							<div>
								<a id="btnSubmitGetAllTransactionTypesForm"
									style="cursor: pointer;"
									href="/Views/TransactionType/List.html">Transaction Types</a>
							</div>

						</div>

					</li>


					<li id="subMenuAccountTypes">

						<div class="floatleft">

							<div>
								<a id="btnSubmitAccountTypesForm" style="cursor: pointer;"
									href="/Views/AccountType/List.html">Account Types</a>
							</div>

						</div>

					</li>


					<li id="subMenuCoa">

						<div class="floatleft">

							<div>
								<a id="btnSubmitCoaForm" style="cursor: pointer;"
									href="/Views/Coa/List.html">Coa</a>
							</div>

						</div>

					</li>


					<li id="subMenuCoaDet">

						<div class="floatleft">

							<div>
								<a id="btnSubmitCoaDetForm" style="cursor: pointer;"
									href="/Views/CoaDet/List.html">Coa Details</a>
							</div>

						</div>

					</li>



					<li id="subMenuTieredtable">

						<div class="floatleft">

							<div>
								<a id="btnSubmitTieredtableForm" style="cursor: pointer;"
									href="/Views/Tieredtable/List.html">Tiered Table</a>
							</div>

						</div>

					</li>


					<li id="subMenuTieredDet">

						<div class="floatleft">

							<div>
								<a id="btnSubmitTieredDetForm" style="cursor: pointer;"
									href="/Views/TieredDet/List.html">Tiered Details</a>
							</div>

						</div>

					</li>


					<li id="subMenuOrganization">

						<div class="floatleft">

							<div>
								<a id="btnSubmitOrganizationForm" style="cursor: pointer;"
									href="/Views/Organization/List.html">Organizations</a>
							</div>

						</div>

					</li>

					<li id="subMenuCustomer">

						<div class="floatleft">

							<div>
								<a id="btnSubmitCustomerForm" style="cursor: pointer;"
									href="/Views/Customer/List.html">Customers</a>
							</div>

						</div>

					</li>


					<li id="subMenuOffers">

						<div class="floatleft">

							<div>
								<a id="btnSubmitGetAllOffersForm" style="cursor: pointer;"
									href="/Views/Offer/List.html">Offers</a>
							</div>

						</div>

					</li>


					<li id="subMenuAllLoans">


						<div class="floatleft">

							<div>
								<a id="btnSubmitListAllLoansForm" style="cursor: pointer;"
									href="/Views/Loan/List.html">Loans</a>
							</div>

						</div>

					</li>

					<li id="subMenuSTO">


						<div class="floatleft">

							<div>
								<a id="btnSubmitListSTOForm" style="cursor: pointer;"
									href="/Views/STO/List.html">Sheduled Transactions</a>
							</div>

						</div>

					</li>

					<li id="subMenuValueDatedTransaction">


						<div class="floatleft">

							<div>
								<a id="btnSubmitListValueDatedTransactionForm" style="cursor: pointer;"
									href="/Views/ValueDatedTransaction/List.html">Value Dated Transactions</a>
							</div>

						</div>

					</li>

					<li id="subMenuUserprofile">


						<div class="floatleft">

							<div>
								<a id="btnSubmitListUserprofileForm" style="cursor: pointer;"
									href="/Views/Userprofile/List.html">Users</a>
							</div>

						</div>

					</li>

					<li id="subMenuAllRegisteredMembers">

						<div class="floatleft">

							<div>
								<a id="btnSubmitGetAllRegisteredMembersForm"
									style="cursor: pointer;" href="/Views/Member/List.html">Members</a>
							</div>

						</div>

					</li>


					<li id="subMenuAllOfferGroups">


						<div class="floatleft">

							<div>
								<a id="btnSubmitGetAllOfferGroupsForm" style="cursor: pointer;"
									href="/Views/MailingGroup/List.html">Offer Groups</a>
							</div>

						</div>

					</li>

					<li id="subMenuTransactions">

						<div class="floatleft">

							<div>
								<a id="btnSubmitGetAllTransactionsForm" style="cursor: pointer;"
									href="/Views/Transaction/List.html">Transactions</a>
							</div>

						</div>

					</li>


					<li id="subMenuDeposit">


						<div class="floatleft">

							<div>
								<a id="btnSubmitDepositCashForm" style="cursor: pointer;"
									href="/Views/Deposit/Deposit.html">Deposit</a>
							</div>

						</div>

					</li>


					<li id="subMenuWithDrawCash">

						<div class="floatleft">

							<div>
								<a id="btnSubmitWithDrawCashForm" style="cursor: pointer;"
									href="/Views/Withdraw/Withdraw.html">WithDraw</a>
							</div>

						</div>

					</li>


					<li>

						<div class="floatleft">

							<div>
								<a id="btnSubmitHelpForm" style="cursor: pointer;"
									href="/Views/Home/Help.html">Help</a>
							</div>

						</div>

					</li>


					<li>

						<div class="floatleft">

							<div>
								<a id="btnSubmitContactsForm" style="cursor: pointer;"
									href="/Views/Home/Contact.html">Contacts</a>
							</div>

						</div>

					</li>


					<li>

						<div class="floatleft">

							<div>
								<a id="btnSubmitAboutForm" style="cursor: pointer;"
									href="/Views/Home/About.html">About</a>
							</div>

						</div>

					</li>


				</ul>
			</div>


		</div>


	</header>




	<div id="body">


		<section class="content-wrapper main-content clear-fix">

			<div id="error-display-div" class="displaynone"></div>


			<hgroup class="title">
				<h2 class="page-title">Create Transaction</h2>
			</hgroup>

			<form action="javascript:void(0);">

				<fieldset>
					<legend>Create Transaction</legend>

					<article class="col1">
						<div class="pad">

					<div>
						<label for="cboaccount">Account</label>
						<select id="cboaccount">
							<option value="-1" selected="selected">(Select Account)</option>
						</select>
					 </div>
					
					<div>
						<label for="cbotransactionType">Transaction Type</label>
						<select id="cbotransactionType">
							<option value="-1" selected="selected">(Select Transaction Type)</option>
						</select>
				    </div>

					<div>
						<label for="txtamount">Amount</label> <input
							id="txtamount" placeholder="Amount" autocomplete="autocomplete" type="number" min="0"></input>
				    </div>
				    
					<div>
						<label for="txtnarrative">Narrative</label> <input
							id="txtnarrative" placeholder="Narrative" autocomplete="autocomplete" type="text"></input>
				    </div>
						
				    <div>
					<label for="cbostatementFlag">Statement Flag</label>
					<select id="cbostatementFlag">
						<option value="-1" selected="selected">(Select Statement Flag)</option>
					</select>
				</div>
						
  
						</div>
					</article>
 

					<div style="float: left; clear: both">
					<input type="submit" value="Create" id="btnCreate"
						style="float: left; clear: both" /> <input type="submit"
						value="Clear" id="btnClear"  onclick="Clear()"/>
				</div>

				</fieldset>


			</form>


		</section>


	</div>



	<footer>

		<hr />
 
		<div class="content-wrapper clearboth">
			<div class="float-left">
				<p style="font-size: 15px">Copyright &copy; - Software Providers
					Limited. All Rights Reserved.</p>
			</div>
		</div>


		<div class="content-wrapper clearboth">
			<div>

				<img src="/Images/fanikiwa_savings.jpg"
					alt="Fanikiwa - Peer - To - Peer Lending" /> <img
					src="/Images/images.jpg" alt="Fanikiwa - Peer - To - Peer Lending" />

				<img src="/Images/savingsimg.jpg"
					alt="Fanikiwa - Peer - To - Peer Lending" />

			</div>
		</div>


	</footer>

	 

	<script type="text/javascript">

	var errormsg='';
	errormsg +=   '<ul id="errorList">' ;
      // var ROOT ='https://1-dot-fanikiwaweb.appspot.com/_ah/api';
      var ROOT ='http://localhost:8888/_ah/api';   
      function init() {
       
       	try {
       	
        // Parameters are APIName,APIVersion,CallBack function,API Root
        gapi.client.load('accountendpoint', 'v1', null, ROOT);
        gapi.client.load('transactiontypeendpoint', 'v1', null, ROOT);
          
        document.getElementById('btnCreate').onclick = function() {
        CreateTransaction();
        	  }
       	} catch(exception) {  
            console.log("Error : " + exception);
            errormsg += '<li>' + exception   + '</li>';
            DisplayException(errormsg); 
     }
  }
        
        function CreateTransaction() {

           	try {
           	
            errormsg='';
            ClearException(); 
            errormsg +=   '<ul id="errorList">' ;
            var error_free=true;
            
        	// Validate the entries
            var _account = document.getElementById('cboaccount').value;
            var _transactionType = document.getElementById('cbotransactionType').value;        	
        	var _amount = document.getElementById('txtamount').value;
        	var _narrative = document.getElementById('txtnarrative').value;
        	var _postDate = document.getElementById('dtppostDate').value;
        	var _authorizer = document.getElementById('txtauthorizer').value;
        	var _contraReference = document.getElementById('txtcontraReference').value;
        	var _forcePostFlag = document.getElementById('txtforcePostFlag').value;        	
        	var _recordDate = document.getElementById('txtrecordDate').value;
        	var _reference = document.getElementById('txtreference').value;
        	var _statementFlag = document.getElementById('cbostatementFlag').value;
        	var _userID = document.getElementById('txtuserID').value;
        	var _valueDate = document.getElementById('dtpvalueDate').value;
        	
        	
    	 if(_Name.length == 0)
    	 {
    	 errormsg += '<li>' + " Name cannot be null "   + '</li>'; 
    	 error_free = false;
    	 }
    	 if(_Email.length == 0)
    	 {
    	 errormsg += '<li>' + " Email cannot be null "   + '</li>'; 
    	 error_free = false;
    	 }
    	 if(_Address.length == 0)
    	 {
    	 errormsg += '<li>' + " Address cannot be null "   + '</li>'; 
    	 error_free = false;
    	 }
    	 
    	 if (!error_free){
	         errormsg += "</ul>";
	    	 $("#error-display-div").html(errormsg); 
	         $("#error-display-div").removeClass('displaynone');
	         $("#error-display-div").addClass('displayblock');
	         $("#error-display-div").show();  
	         return;
         }
        else{
	        ClearException(); 
         }
         
        	// Build the Request Object
        	var transaction = {};
        	transaction.amount = _amount;
        	transaction.authorizer = _authorizer;
        	transaction.contraReference = _contraReference;
        	transaction.forcePostFlag = _forcePostFlag;
        	transaction.narrative = _narrative;
        	transaction.postDate = _postDate;
        	transaction.recordDate = _recordDate;
        	transaction.reference = _reference;
        	transaction.statementFlag = _statementFlag;
        	transaction.userID = _userID;
        	transaction.valueDate = _valueDate;
        	transaction.account = _account;
        	transaction.transactionType = _transactionType;
        	
        	gapi.client.accountendpoint.post(transaction).execute(function(resp) {
        		 console.log(resp);
        		if (!resp.code) {
        			 
        		window.location.href = "/Views/Transaction/List.html";
        		
        		} 
        		else {
        			console.log(resp.code + " : " + resp.message);
        			alert("Error : " + resp.code + ":" + resp.message);
        		} 
        	});
           	} catch(exception) {  
        		console.log("Error : " + exception);
        		errormsg += '<li>' + exception   + '</li>';
                DisplayException(errormsg);
      }
   }
        
       function Clear(){
	       $("#txtproperty").val("");
	       $("#txtValue").val("");
	       $("#txtgroupName").val("");
       }
       
       function DisplayException(errormsg) {
    	   
  		 errormsg += "</ul>";
  		 
	    	 $("#error-display-div").html(errormsg); 
	         $("#error-display-div").removeClass('displaynone');
	         $("#error-display-div").addClass('displayblock');
	         $("#error-display-div").show();  
  	}

  	function ClearException() {
  		$('#errorList').remove();
  		$('#error-display-div').empty();
  	}
  	
    </script>

	<script src="https://apis.google.com/js/client.js?onload=init"></script>




</body>


</html>
