﻿﻿﻿﻿﻿﻿﻿﻿<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Fanikiwa - Administrator</title>
<link href="/Images/Dollar.ico" rel="shortcut icon" type="image/x-icon" />
<link rel="stylesheet" href="/Content/Site.css" type="text/css" />
<script src="/Scripts/jquery-2.0.3.js" type="text/javascript"></script>
<script src="/Scripts/CustomScripts.js" type="text/javascript"></script>


</head>


<body>

	<header>
		<div class="content-wrapper">

			<div class="float-left">
				<p class="site-title" title="Fanikiwa - Administrator">Fanikiwa
					- Administrator</p>
			</div>


			<div class="float-right">
				<section id="login"></section>
			</div>


			<div id="nav">
				<ul id="menu">

					<li>

						<div class="floatleft">

							<div>
								<a id="btnSubmitIndexForm" style="cursor: pointer;"
									href="/Views/Home/Index.html">Home</a>
							</div>

						</div>

					</li>

					<li id="subMenuSettings">

						<div class="floatleft">

							<div>
								<a id="btnSubmitSettingsForm" style="cursor: pointer;"
									href="/Views/Setting/List.html">Settings</a>
							</div>

						</div>

					</li>

					<li id="subMenuFanikiwaAccounts">

						<div class="floatleft">

							<div>
								<a id="btnSubmitGetAllAccountsForm" style="cursor: pointer;"
									href="/Views/Account/List.html">Accounts</a>
							</div>

						</div>

					</li>

					<li id="subMenuTransactionTypes">

						<div class="floatleft">

							<div>
								<a id="btnSubmitGetAllTransactionTypesForm"
									style="cursor: pointer;"
									href="/Views/TransactionType/List.html">Transaction Types</a>
							</div>

						</div>

					</li>


					<li id="subMenuAccountTypes">

						<div class="floatleft">

							<div>
								<a id="btnSubmitAccountTypesForm" style="cursor: pointer;"
									href="/Views/AccountType/List.html">Account Types</a>
							</div>

						</div>

					</li>


					<li id="subMenuCoa">

						<div class="floatleft">

							<div>
								<a id="btnSubmitCoaForm" style="cursor: pointer;"
									href="/Views/Coa/List.html">Coa</a>
							</div>

						</div>

					</li>


					<li id="subMenuCoaDet">

						<div class="floatleft">

							<div>
								<a id="btnSubmitCoaDetForm" style="cursor: pointer;"
									href="/Views/CoaDet/List.html">Coa Details</a>
							</div>

						</div>

					</li>



					<li id="subMenuTieredtable">

						<div class="floatleft">

							<div>
								<a id="btnSubmitTieredtableForm" style="cursor: pointer;"
									href="/Views/Tieredtable/List.html">Tiered Table</a>
							</div>

						</div>

					</li>


					<li id="subMenuTieredDet">

						<div class="floatleft">

							<div>
								<a id="btnSubmitTieredDetForm" style="cursor: pointer;"
									href="/Views/TieredDet/List.html">Tiered Details</a>
							</div>

						</div>

					</li>


					<li id="subMenuOrganization">

						<div class="floatleft">

							<div>
								<a id="btnSubmitOrganizationForm" style="cursor: pointer;"
									href="/Views/Organization/List.html">Organizations</a>
							</div>

						</div>

					</li>

					<li id="subMenuCustomer">

						<div class="floatleft">

							<div>
								<a id="btnSubmitCustomerForm" style="cursor: pointer;"
									href="/Views/Customer/List.html">Customers</a>
							</div>

						</div>

					</li>


					<li id="subMenuOffers">

						<div class="floatleft">

							<div>
								<a id="btnSubmitGetAllOffersForm" style="cursor: pointer;"
									href="/Views/Offer/List.html">Offers</a>
							</div>

						</div>

					</li>


					<li id="subMenuAllLoans">


						<div class="floatleft">

							<div>
								<a id="btnSubmitListAllLoansForm" style="cursor: pointer;"
									href="/Views/Loan/List.html">Loans</a>
							</div>

						</div>

					</li>

					<li id="subMenuSTO">


						<div class="floatleft">

							<div>
								<a id="btnSubmitListSTOForm" style="cursor: pointer;"
									href="/Views/STO/List.html">Sheduled Transactions</a>
							</div>

						</div>

					</li>

					<li id="subMenuValueDatedTransaction">


						<div class="floatleft">

							<div>
								<a id="btnSubmitListValueDatedTransactionForm" style="cursor: pointer;"
									href="/Views/ValueDatedTransaction/List.html">Value Dated Transactions</a>
							</div>

						</div>

					</li>

					<li id="subMenuUserprofile">


						<div class="floatleft">

							<div>
								<a id="btnSubmitListUserprofileForm" style="cursor: pointer;"
									href="/Views/Userprofile/List.html">Users</a>
							</div>

						</div>

					</li>

					<li id="subMenuAllRegisteredMembers">

						<div class="floatleft">

							<div>
								<a id="btnSubmitGetAllRegisteredMembersForm"
									style="cursor: pointer;" href="/Views/Member/List.html">Members</a>
							</div>

						</div>

					</li>


					<li id="subMenuAllOfferGroups">


						<div class="floatleft">

							<div>
								<a id="btnSubmitGetAllOfferGroupsForm" style="cursor: pointer;"
									href="/Views/MailingGroup/List.html">Offer Groups</a>
							</div>

						</div>

					</li>

					<li id="subMenuTransactions">

						<div class="floatleft">

							<div>
								<a id="btnSubmitGetAllTransactionsForm" style="cursor: pointer;"
									href="/Views/Transaction/List.html">Transactions</a>
							</div>

						</div>

					</li>


					<li id="subMenuDeposit">


						<div class="floatleft">

							<div>
								<a id="btnSubmitDepositCashForm" style="cursor: pointer;"
									href="/Views/Deposit/Deposit.html">Deposit</a>
							</div>

						</div>

					</li>


					<li id="subMenuWithDrawCash">

						<div class="floatleft">

							<div>
								<a id="btnSubmitWithDrawCashForm" style="cursor: pointer;"
									href="/Views/Withdraw/Withdraw.html">WithDraw</a>
							</div>

						</div>

					</li>


					<li>

						<div class="floatleft">

							<div>
								<a id="btnSubmitHelpForm" style="cursor: pointer;"
									href="/Views/Home/Help.html">Help</a>
							</div>

						</div>

					</li>


					<li>

						<div class="floatleft">

							<div>
								<a id="btnSubmitContactsForm" style="cursor: pointer;"
									href="/Views/Home/Contact.html">Contacts</a>
							</div>

						</div>

					</li>


					<li>

						<div class="floatleft">

							<div>
								<a id="btnSubmitAboutForm" style="cursor: pointer;"
									href="/Views/Home/About.html">About</a>
							</div>

						</div>

					</li>


				</ul>
			</div>


		</div>


	</header>




	<div id="body">


		<section class="content-wrapper main-content clear-fix">

			<div id="error-display-div" class="displaynone"></div>


			<hgroup class="title">
				<h2 class="page-title">Create Member</h2>
			</hgroup>

			<form action="javascript:void(0);">

				<fieldset>
					<legend>Create Member</legend>

					<article class="col1">
						<div class="pad">

							<div>
								<label for="txtemail">Email</label> <input
								autocomplete="autocomplete" id="txtemail" placeholder="Email" autofocus="autofocus" type="text"></input>
							</div>

							<div>
							<label for="txtpwd">Password</label> <input
								id="txtpwd" placeholder="Password" type="password"></input>
						</div>
						
						<div>
								<label for="txtsurname">Surname</label> <input
									id="txtsurname" placeholder="Surname" autocomplete="autocomplete" type="text"></input>
							</div>
							
							<div>
							<label for="txtotherNames">Other Names</label> <input
								id="txtotherNames" placeholder="Other Names" autocomplete="autocomplete" type="text"></input>
						</div>

						<div>
						<label for="txttelephone">Telephone</label> <input
							id="txttelephone" placeholder="Telephone" autocomplete="autocomplete" type="text"></input>
					</div>
					
					<div>
					<label for="txtnationalID">NationalID</label> <input
						id="txtnationalID" placeholder="NationalID" autocomplete="autocomplete" type="text"></input>
				</div> 
							
  
						</div>
					</article>
 



					<article class="col2">
						<div class="pad">

						<div>
						<label for="cbocustomer">Customer</label>
						<select id="cbocustomer">
						<option value="-1" selected="selected">(Select Customer)</option>
						</select>
					</div>
						
					<div>
					<label for="cboinvestmentAccount">Investment Account</label>
					<select id="cboinvestmentAccount">
					<option value="-1" selected="selected">(Select Investment Account)</option>
					</select>
				</div>
				
				<div>
				<label for="cboloanAccount">Loan Account</label>
				<select id="cboloanAccount">
				<option value="-1" selected="selected">(Select Loan Account)</option>
				</select>
			</div>
			
			<div>
			<label for="cbocurrentAccount">Current Account</label>
			<select id="cbocurrentAccount">
			<option value="-1" selected="selected">(Select Current Account)</option>
			</select>
		</div>
		
		<div>
		<label for="cbogender">Gender</label>
		<select id="cbogender"> </select>
	</div>
	
	<div>
	<label for="cboinformBy">Inform By</label>
	<select id="cboinformBy"> </select>
</div>

<div>
<label for="cbostatus">Status</label>
<select id="cbostatus"> </select>
</div>
				 
			
						</div>
					</article>
 
					<div style="float: left; clear: both">
					<input type="submit" value="Create" id="btnCreate"
						style="float: left; clear: both" /> <input type="submit"
						value="Clear" id="btnClear" onclick="Clear()" />
				</div>

				</fieldset>


			</form>


		</section>


	</div>



	<footer>

		<hr />
 
		<div class="content-wrapper clearboth">
			<div class="float-left">
				<p style="font-size: 15px">Copyright &copy; - Software Providers
					Limited. All Rights Reserved.</p>
			</div>
		</div>


		<div class="content-wrapper clearboth">
			<div>

				<img src="/Images/fanikiwa_savings.jpg"
					alt="Fanikiwa - Peer - To - Peer Lending" /> <img
					src="/Images/images.jpg" alt="Fanikiwa - Peer - To - Peer Lending" />

				<img src="/Images/savingsimg.jpg"
					alt="Fanikiwa - Peer - To - Peer Lending" />

			</div>
		</div>


	</footer>

 

	<script type="text/javascript">

	var errormsg='';
	errormsg +=   '<ul id="errorList">' ;
      // var ROOT ='https://1-dot-fanikiwaweb.appspot.com/_ah/api';
      var ROOT ='http://localhost:8888/_ah/api';   
      function init() {
       
       	try {
       	
        // Parameters are APIName,APIVersion,CallBack function,API Root
        gapi.client.load('memberendpoint', 'v1', null, ROOT);
        gapi.client.load('accountendpoint', 'v1', null, ROOT);
        gapi.client.load('customerendpoint', 'v1', null, ROOT);
          
        document.getElementById('btnCreate').onclick = function() {
        CreateMember();
        	  }
        
        populateCustomers();

        populateInvestmentAccount();

        populateLoanAccount();

        populateCurrentAccount();
        
        populateGender();
        
        populateInformBy();
        
        populateStatus();
        
       	} catch(exception) {  
            console.log("Error : " + exception);
            errormsg += '<li>' + exception   + '</li>';
            DisplayException(errormsg); 
     }
 }
        
        function CreateMember() {

           	try {
           	
            errormsg='';
            ClearException(); 
            errormsg +=   '<ul id="errorList">' ;
            var error_free=true;
            
        	// Validate the entries
        	var _email = document.getElementById('txtemail').value;
        	var _pwd = document.getElementById('txtpwd').value; 
        	var _surname = document.getElementById('txtsurname').value;
        	var _otherNames = document.getElementById('txtotherNames').value; 
        	var _telephone = document.getElementById('txttelephone').value;
        	var _nationalID = document.getElementById('txtnationalID').value; 
        	var _customer = document.getElementById('cbocustomer').value; 
        	var _investmentAccount = document.getElementById('cboinvestmentAccount').value;
        	var _loanAccount = document.getElementById('cboloanAccount').value;
        	var _currentAccount = document.getElementById('cbocurrentAccount').value;        	
        	var _gender = document.getElementById('cbogender').value;
        	var _informBy = document.getElementById('cboinformBy').value;  
        	var _status = document.getElementById('cbostatus').value; 
        	
    	 if(_email.length == 0)
    	 {
    	 errormsg += '<li>' + " Email cannot be null "   + '</li>'; 
    	 error_free = false;
    	 }
    	 if(_pwd.length == 0)
    	 {
    	 errormsg += '<li>' + " Password cannot be null "   + '</li>'; 
    	 error_free = false;
    	 }
    	 if(_surname.length == 0)
    	 {
    	 errormsg += '<li>' + " Surname cannot be null "   + '</li>'; 
    	 error_free = false;
    	 }
    	 if(_otherNames.length == 0)
    	 {
    	 errormsg += '<li>' + " Other Names cannot be null "   + '</li>'; 
    	 error_free = false;
    	 }
    	 if(_telephone.length == 0)
    	 {
    	 errormsg += '<li>' + " Telephone cannot be null "   + '</li>'; 
    	 error_free = false;
    	 }
    	 if(_nationalID.length == 0)
    	 {
    	 errormsg += '<li>' + " National Id cannot be null "   + '</li>'; 
    	 error_free = false;
    	 }
    	 
    	 var customer = getCustomerByID({'id': _customer});
    	 if(_customer.length == 0 || _customer == -1 || customer == null)
    	 {
    	 errormsg += '<li>' + " Select Customer "   + '</li>'; 
    	 error_free = false;
    	 }
    	 
    	 var investmentAccount = getAccountByID({'id': _investmentAccount});
    	 if(_investmentAccount.length == 0 || _investmentAccount == -1 || investmentAccount == null)
    	 {
    	 errormsg += '<li>' + " Select Investment Account "   + '</li>'; 
    	 error_free = false;
    	 }
    	 
    	 var loanAccount = getAccountByID({'id': _loanAccount});
    	 if(_loanAccount.length == 0 || _loanAccount == -1 || loanAccount == null)
    	 {
    	 errormsg += '<li>' + " Select Loan Account "   + '</li>'; 
    	 error_free = false;
    	 }
    	 
    	 var currentAccount = getAccountByID({'id': _currentAccount});
    	 if(_currentAccount.length == 0 || _currentAccount == -1 || currentAccount == null)
    	 {
    	 errormsg += '<li>' + " Select Current Account "   + '</li>'; 
    	 error_free = false;
    	 }
 
    	 
    	 if (!error_free){
	         errormsg += "</ul>";
	    	 $("#error-display-div").html(errormsg); 
	         $("#error-display-div").removeClass('displaynone');
	         $("#error-display-div").addClass('displayblock');
	         $("#error-display-div").show();  
	         return;
         }
        else{
	        ClearException(); 
         }
         
        	// Build the Request Object
        	var member = {};
        	member.dateActivated = new Date();
        	member.dateJoined = new Date();
        	member.dateOfBirth = new Date();
        	member.email = _email;
        	member.gender = _gender;
        	member.informBy = _informBy;
        	member.maxRecordsToDisplay = 5;
        	member.nationalID = _nationalID;
        	member.otherNames = _otherNames;
        	member.photo = "";
        	member.pwd = _pwd;
        	member.refferedBy = 0;
        	member.status = _status;
        	member.surname = _surname;
        	member.telephone = _telephone;
        	member.investmentAccount = investmentAccount;
        	member.loanAccount = loanAccount;
        	member.currentAccount = currentAccount;
        	member.customer = customer; 
        	
        	gapi.client.memberendpoint.register(member).execute(function(resp) {
        		 console.log(resp);
        		if (!resp.code) {
        			 
        		window.location.href = "/Views/Member/List.html";
        		
        		} 
        		else {
        			console.log(resp.code + " : " + resp.message);
        			alert("Error : " + resp.code + ":" + resp.message);
        		} 
        	});
           	} catch(exception) {  
        		console.log("Error : " + exception);
        		errormsg += '<li>' + exception   + '</li>';
                DisplayException(errormsg);
      }
  }
        
        function populateCustomers()
        {
       	 var customerarray = [
       	      			    {id: "4758686325014528", description: "customer1"},
       	      			    {id: "5040161301725184", description: "customer2"},
       	      			    {id: "5462373766791168", description: "customer3"},
       	      			    {id: "5603111255146496", description: "customer4"}
       	                      ];
       	 var customeroptions = '';
       	 for (var i = 0; i < customerarray.length; i++) {
       	        customeroptions += '<option value="' + customerarray[i].id + '">' + customerarray[i].description + '</option>';
       	        }
          	try { 
         gapi.client.customerendpoint.listCustomer().execute(function(resp) {
           		 for (var i = 0; i < resp.length; i++) {
           customeroptions += '<option value="' + resp[i].id + '">' + resp[i].description + '</option>';
           } 
        }); 
          	} catch(exception) {  
               console.log("Error : " + exception);
               errormsg += '<li>' + exception   + '</li>';
               DisplayException(errormsg);
         }
         finally
         {
         $("#cbocustomer").append(customeroptions);
         }
        }
        
        
        function populateInvestmentAccount()
        {
       	 var investmentAccountrarray = [
       	      			    {id: "4758686325014528", description: "account1"},
       	      			    {id: "5040161301725184", description: "account2"},
       	      			    {id: "5462373766791168", description: "account3"},
       	      			    {id: "5603111255146496", description: "account4"}
       	                      ];
       	 var investmentAccountoptions = '';
       	 for (var i = 0; i < investmentAccountrarray.length; i++) {
       		investmentAccountoptions += '<option value="' + investmentAccountrarray[i].id + '">' + investmentAccountrarray[i].description + '</option>';
       	        }
          	try { 
         gapi.client.accountendpoint.listAccount().execute(function(resp) {
           		 for (var i = 0; i < resp.length; i++) {
           			investmentAccountoptions += '<option value="' + resp[i].id + '">' + resp[i].description + '</option>';
           } 
        }); 
          	} catch(exception) {  
               console.log("Error : " + exception);
               errormsg += '<li>' + exception   + '</li>';
               DisplayException(errormsg);
         }
         finally
         {
         $("#cboinvestmentAccount").append(investmentAccountoptions);
         }
        }
        
        function populateLoanAccount()
        {
       	 var loanAccountarray = [
       	      			    {id: "4758686325014528", description: "account1"},
       	      			    {id: "5040161301725184", description: "account2"},
       	      			    {id: "5462373766791168", description: "account3"},
       	      			    {id: "5603111255146496", description: "account4"}
       	                      ];
       	 var loanAccountoptions = '';
       	 for (var i = 0; i < loanAccountarray.length; i++) {
       		loanAccountoptions += '<option value="' + loanAccountarray[i].id + '">' + loanAccountarray[i].description + '</option>';
       	        }
          	try { 
         gapi.client.accountendpoint.listAccount().execute(function(resp) {
           		 for (var i = 0; i < resp.length; i++) {
           			loanAccountoptions += '<option value="' + resp[i].id + '">' + resp[i].description + '</option>';
           } 
        }); 
          	} catch(exception) {  
               console.log("Error : " + exception);
               errormsg += '<li>' + exception   + '</li>';
               DisplayException(errormsg);
         }
         finally
         {
         $("#cboloanAccount").append(loanAccountoptions);
         }
        }
        
        function populateCurrentAccount()
        {
       	 var currentAccountarray = [
       	      			    {id: "4758686325014528", description: "account1"},
       	      			    {id: "5040161301725184", description: "account2"},
       	      			    {id: "5462373766791168", description: "account3"},
       	      			    {id: "5603111255146496", description: "account4"}
       	                      ];
       	 var currentAccountoptions = '';
       	 for (var i = 0; i < currentAccountarray.length; i++) {
       		currentAccountoptions += '<option value="' + currentAccountarray[i].id + '">' + currentAccountarray[i].description + '</option>';
       	        }
          	try { 
         gapi.client.accountendpoint.listAccount().execute(function(resp) {
           		 for (var i = 0; i < resp.length; i++) {
           			currentAccountoptions += '<option value="' + resp[i].id + '">' + resp[i].description + '</option>';
           } 
        }); 
          	} catch(exception) {  
               console.log("Error : " + exception);
               errormsg += '<li>' + exception   + '</li>';
               DisplayException(errormsg);
         }
         finally
         {
         $("#cbocurrentAccount").append(currentAccountoptions);
         }
        }
        
        function populateGender()
        {
         
         var genderarray = [
   			    {id: "M", description: "Male"},
   			    {id: "F", description: "Female"},
   			    {id: "X", description: "Other"}];
         var genderoptions = '';
         for (var i = 0; i < genderarray.length; i++) {
        	 genderoptions += '<option value="' + genderarray[i].id + '">' + genderarray[i].description + '</option>';
         }
         
         $("#cbogender").append(genderoptions);
       
        }
        
        function populateInformBy()
        {
         
         var informByarray = [
   			    {id: "EMAIL", description: "EMAIL"},
   			    {id: "SMS", description: "SMS"} ];
         var informByoptions = '';
         for (var i = 0; i < informByarray.length; i++) {
        	 informByoptions += '<option value="' + informByarray[i].id + '">' + informByarray[i].description + '</option>';
         }
         
         $("#cboinformBy").append(informByoptions);
       
        }
        
        function populateStatus()
        {
         
         var statusarray = [
   			    {id: "N", description: "New"},
   			    {id: "A", description: "Active"},
   			    {id: "C", description: "Closed"} ];
         var statusoptions = '';
         for (var i = 0; i < statusarray.length; i++) {
        	 statusoptions += '<option value="' + statusarray[i].id + '">' + statusarray[i].description + '</option>';
         }
         
         $("#cbostatus").append(statusoptions);
       
        }
         
        function getCustomerByID(id)
        { 
        	
          	try { 
        gapi.client.customerendpoint.getCustomer(id).execute(function(resp) {
          		if (!resp.code) {       			 
          		return resp;       		
          		}       		  
          		else {
          			console.log(resp.code + " : " + resp.message); 
       			errormsg += '<li>' + resp.code + " : " + resp.message   + '</li>';
       			DisplayException(errormsg);
       		}
          	});
          	
          	} catch(exception) {  
               console.log("Error : " + exception);
               errormsg += '<li>' + exception   + '</li>';
               DisplayException(errormsg);
         }
        }
        
        function getAccountByID(id)
        {
        
          	try { 
        gapi.client.accountendpoint.getAccount(id).execute(function(resp) {
          		if (!resp.code) {       			 
          		return resp;       		
          		}       		  
          		else {
          			console.log(resp.code + " : " + resp.message); 
       			errormsg += '<li>' + resp.code + " : " + resp.message   + '</li>';
       			DisplayException(errormsg);
       		}
          	});
          	
          	} catch(exception) {  
               console.log("Error : " + exception);
               errormsg += '<li>' + exception   + '</li>';
               DisplayException(errormsg);
         }
        }
        
       function Clear(){
	       $("#txtemail").val("");
	       $("#txtpwd").val("");
	       $("#txtsurname").val("");
	       $("#txtotherNames").val("");
	       $("#txttelephone").val("");
	       $("#txtnationalID").val("");
	       $("#cbocustomer").val("-1");
	       $("#cboinvestmentAccount").val("-1");
	       $("#cboloanAccount").val("-1");
	       $("#cbocurrentAccount").val("-1");
	       $("#cbogender").val("M");
	       $("#cboinformBy").val("EMAIL");
	       $("#cbostatus").val("N"); 
       }
         
       function DisplayException(errormsg) {
    	   
  		 errormsg += "</ul>";
  		 
	    	 $("#error-display-div").html(errormsg); 
	         $("#error-display-div").removeClass('displaynone');
	         $("#error-display-div").addClass('displayblock');
	         $("#error-display-div").show();  
  	   }

	  	function ClearException() {
	  		$('#errorList').remove();
	  		$('#error-display-div').empty();
	  	}
  	
    </script>

	<script src="https://apis.google.com/js/client.js?onload=init"></script>




</body>


</html>
