﻿﻿﻿﻿﻿﻿﻿﻿﻿<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Fanikiwa - Administrator</title>
<link href="/Images/Dollar.ico" rel="shortcut icon" type="image/x-icon" />
<link rel="stylesheet" href="/Content/Site.css" type="text/css" />
<script src="/Scripts/jquery-2.0.3.js" type="text/javascript"></script>
<script src="/Scripts/CustomScripts.js" type="text/javascript"></script>


</head>


<body>

	<header>
		<div class="content-wrapper">

			<div class="float-left">
				<p class="site-title" title="Fanikiwa - Administrator">Fanikiwa
					- Administrator</p>
			</div>


			<div class="float-right">
				<section id="login"></section>
			</div>


			<div id="nav">
				<ul id="menu">

					<li>

						<div class="floatleft">

							<div>
								<a id="btnSubmitIndexForm" style="cursor: pointer;"
									href="/Views/Home/Index.html">Home</a>
							</div>

						</div>

					</li>

					<li id="subMenuSettings">

						<div class="floatleft">

							<div>
								<a id="btnSubmitSettingsForm" style="cursor: pointer;"
									href="/Views/Setting/List.html">Settings</a>
							</div>

						</div>

					</li>

					<li id="subMenuFanikiwaAccounts">

						<div class="floatleft">

							<div>
								<a id="btnSubmitGetAllAccountsForm" style="cursor: pointer;"
									href="/Views/Account/List.html">Accounts</a>
							</div>

						</div>

					</li>

					<li id="subMenuTransactionTypes">

						<div class="floatleft">

							<div>
								<a id="btnSubmitGetAllTransactionTypesForm"
									style="cursor: pointer;"
									href="/Views/TransactionType/List.html">Transaction Types</a>
							</div>

						</div>

					</li>


					<li id="subMenuAccountTypes">

						<div class="floatleft">

							<div>
								<a id="btnSubmitAccountTypesForm" style="cursor: pointer;"
									href="/Views/AccountType/List.html">Account Types</a>
							</div>

						</div>

					</li>


					<li id="subMenuCoa">

						<div class="floatleft">

							<div>
								<a id="btnSubmitCoaForm" style="cursor: pointer;"
									href="/Views/Coa/List.html">Coa</a>
							</div>

						</div>

					</li>


					<li id="subMenuCoaDet">

						<div class="floatleft">

							<div>
								<a id="btnSubmitCoaDetForm" style="cursor: pointer;"
									href="/Views/CoaDet/List.html">Coa Details</a>
							</div>

						</div>

					</li>



					<li id="subMenuTieredtable">

						<div class="floatleft">

							<div>
								<a id="btnSubmitTieredtableForm" style="cursor: pointer;"
									href="/Views/Tieredtable/List.html">Tiered Table</a>
							</div>

						</div>

					</li>


					<li id="subMenuTieredDet">

						<div class="floatleft">

							<div>
								<a id="btnSubmitTieredDetForm" style="cursor: pointer;"
									href="/Views/TieredDet/List.html">Tiered Details</a>
							</div>

						</div>

					</li>


					<li id="subMenuOrganization">

						<div class="floatleft">

							<div>
								<a id="btnSubmitOrganizationForm" style="cursor: pointer;"
									href="/Views/Organization/List.html">Organizations</a>
							</div>

						</div>

					</li>

					<li id="subMenuCustomer">

						<div class="floatleft">

							<div>
								<a id="btnSubmitCustomerForm" style="cursor: pointer;"
									href="/Views/Customer/List.html">Customers</a>
							</div>

						</div>

					</li>


					<li id="subMenuOffers">

						<div class="floatleft">

							<div>
								<a id="btnSubmitGetAllOffersForm" style="cursor: pointer;"
									href="/Views/Offer/List.html">Offers</a>
							</div>

						</div>

					</li>


					<li id="subMenuAllLoans">


						<div class="floatleft">

							<div>
								<a id="btnSubmitListAllLoansForm" style="cursor: pointer;"
									href="/Views/Loan/List.html">Loans</a>
							</div>

						</div>

					</li>

					<li id="subMenuSTO">


						<div class="floatleft">

							<div>
								<a id="btnSubmitListSTOForm" style="cursor: pointer;"
									href="/Views/STO/List.html">Sheduled Transactions</a>
							</div>

						</div>

					</li>

					<li id="subMenuValueDatedTransaction">


						<div class="floatleft">

							<div>
								<a id="btnSubmitListValueDatedTransactionForm" style="cursor: pointer;"
									href="/Views/ValueDatedTransaction/List.html">Value Dated Transactions</a>
							</div>

						</div>

					</li>

					<li id="subMenuUserprofile">


						<div class="floatleft">

							<div>
								<a id="btnSubmitListUserprofileForm" style="cursor: pointer;"
									href="/Views/Userprofile/List.html">Users</a>
							</div>

						</div>

					</li>

					<li id="subMenuAllRegisteredMembers">

						<div class="floatleft">

							<div>
								<a id="btnSubmitGetAllRegisteredMembersForm"
									style="cursor: pointer;" href="/Views/Member/List.html">Members</a>
							</div>

						</div>

					</li>


					<li id="subMenuAllOfferGroups">


						<div class="floatleft">

							<div>
								<a id="btnSubmitGetAllOfferGroupsForm" style="cursor: pointer;"
									href="/Views/MailingGroup/List.html">Offer Groups</a>
							</div>

						</div>

					</li>

					<li id="subMenuTransactions">

						<div class="floatleft">

							<div>
								<a id="btnSubmitGetAllTransactionsForm" style="cursor: pointer;"
									href="/Views/Transaction/List.html">Transactions</a>
							</div>

						</div>

					</li>


					<li id="subMenuDeposit">


						<div class="floatleft">

							<div>
								<a id="btnSubmitDepositCashForm" style="cursor: pointer;"
									href="/Views/Deposit/Deposit.html">Deposit</a>
							</div>

						</div>

					</li>


					<li id="subMenuWithDrawCash">

						<div class="floatleft">

							<div>
								<a id="btnSubmitWithDrawCashForm" style="cursor: pointer;"
									href="/Views/Withdraw/Withdraw.html">WithDraw</a>
							</div>

						</div>

					</li>


					<li>

						<div class="floatleft">

							<div>
								<a id="btnSubmitHelpForm" style="cursor: pointer;"
									href="/Views/Home/Help.html">Help</a>
							</div>

						</div>

					</li>


					<li>

						<div class="floatleft">

							<div>
								<a id="btnSubmitContactsForm" style="cursor: pointer;"
									href="/Views/Home/Contact.html">Contacts</a>
							</div>

						</div>

					</li>


					<li>

						<div class="floatleft">

							<div>
								<a id="btnSubmitAboutForm" style="cursor: pointer;"
									href="/Views/Home/About.html">About</a>
							</div>

						</div>

					</li>


				</ul>
			</div>


		</div>


	</header>




	<div id="body">


		<section class="content-wrapper main-content clear-fix">

			<div id="error-display-div" class="displaynone"></div>


			<hgroup class="title">
				<h2 class="page-title">Create Scheduled Transaction</h2>
			</hgroup>

			<form action="javascript:void(0);">

				<fieldset>
					<legend>Create Scheduled Transaction</legend>

					<article class="col1">
						<div class="pad">

						 <div>
							<label for="cboloanId">Loan</label>
							<select id="cboloanId">
							<option value="-1" selected="selected">(Select Loan)</option>
							</select>
						</div>

						 <div>
							<label for="cbodrAccount">Main(Debit) Account</label>
							<select id="cbodrAccount">
							<option value="-1" selected="selected">(Select Main(Debit) Account)</option>
							</select>
						</div>
						
						 <div>
							<label for="cbocrAccount">Contra(Credit) Account</label>
							<select id="cbocrAccount">
							<option value="-1" selected="selected">(Select Contra(Credit) Account)</option>
							</select>
						</div>
						
						 <div>
							<label for="cbodrTxnType">Main(Debit) Transaction Type</label>
							<select id="cbodrTxnType">
							<option value="-1" selected="selected">(Select Main(Debit) Transaction Type)</option>
							</select>
						</div>
						
						 <div>
							<label for="cbocrTxnType">Contra(Credit) Transaction Type</label>
							<select id="cbocrTxnType">
							<option value="-1" selected="selected">(Select Contra(Credit) Transaction Type)</option>
							</select>
						</div>
  
						<div>
						<label for="txtpayAmount">Pay Amount</label> <input
							id="txtpayAmount" placeholder="Pay Amount" autocomplete="autocomplete" type="number" min="0"></input>
					</div>

					<div>
					<label for="txttotalToPay">Total To Pay</label> <input
						id="txttotalToPay" placeholder="Total To Pay" autocomplete="autocomplete" type="number" min="0"></input>
				</div>
				
				<div>
				<label for="txtinterval">Interval</label> <input
					id="txtinterval" placeholder="Interval" autocomplete="autocomplete" type="number" min="0"></input>
			</div>
			
			<div>
			<label for="txtnoOfPayments">No Of Payments</label> <input
				id="txtnoOfPayments" placeholder="No Of Payments" autocomplete="autocomplete" type="number" min="0"></input>
		</div>
		
		<div>
		<label for="txtamountPaid">Amount Paid</label> <input
			id="txtamountPaid" placeholder="Amount Paid" autocomplete="autocomplete" type="number" min="0"></input>
	</div>
	
	<div>
	<label for="txtnoOfPaymentsMade">No Of Payments Made</label> <input
		id="txtnoOfPaymentsMade" placeholder="No Of Payments Made" autocomplete="autocomplete" type="number" min="0"></input>
</div>

<div>
<label for="txtamountDefaulted">Amount Defaulted</label> <input
	id="txtamountDefaulted" placeholder="Amount Defaulted" autocomplete="autocomplete" type="number" min="0"></input>
</div>

<div>
<label for="txtnoOfDefaults">No Of Defaults</label> <input
	id="txtnoOfDefaults" placeholder="No Of Defaults" autocomplete="autocomplete" type="number" min="0"></input>
</div>

						</div>
					</article>
 

					<article class="col2">
						<div class="pad">

							<div>
								<label for="dtpcreateDate">Create Date</label> <input
									id="dtpcreateDate" placeholder="Create Date" autocomplete="autocomplete" type="date"></input>
							</div>

							<div>
							<label for="dtpstartDate">Start Date</label> <input
								id="dtpstartDate" placeholder="Start Date" autocomplete="autocomplete" type="date"></input>
						</div>
						
						<div>
						<label for="dtpnextPayDate">Next Pay Date</label> <input
							id="dtpnextPayDate" placeholder="Next Pay Date" autocomplete="autocomplete" type="date"></input>
					</div>
					
					<div>
					<label for="dtpendDate">End Date</label> <input
						id="dtpendDate" placeholder="End Date" autocomplete="autocomplete" type="date"></input>
				</div>
				
				<div>
				<label for="chkchargeCommFlag">Charge Commission Flag</label> <input
					id="chkchargeCommFlag" placeholder="Charge Commission Flag" autocomplete="autocomplete" type="checkbox"></input>
			</div>
			
			 <div>
				<label for="cbochargeWho">Charge Who</label>
				<select id="cbochargeWho">
				<option value="-1" selected="selected">Select Charge Who</option>
				</select>
			</div>
		
			 <div>
				<label for="cbocommFreqFlag">Commission Frequency Flag</label>
				<select id="cbocommFreqFlag">
				<option value="-1" selected="selected">Select Commission Frequency Flag</option>
				</select>
			</div>
			
			 <div>
				<label for="cbocommissionAccount">Commission Account</label>
				<select id="cbocommissionAccount">
				<option value="-1" selected="selected">Select Commission Account</option>
				</select>
			</div>
  
			<div>
				<label for="txtcommissionAmount">Commission Amount</label> <input
					id="txtcommissionAmount" placeholder="Commission Amount" autocomplete="autocomplete" type="number" min="0"></input>
		   </div>
		   
		   <div>
			<label for="chkcommissionPaidFlag">Commission Paid Flag</label> <input
				id="chkcommissionPaidFlag" placeholder="Commission Paid Flag" autocomplete="autocomplete" type="checkbox"></input>
		</div>
		
		   <div>
			<label for="cbocommSourceFlag">Commission Source Flag</label> 
			<select id="cbocommSourceFlag">
			<option value="-1" selected="selected">Select Commission Source Flag</option>
			</select>
		</div>
	
		 <div>
			<label for="cbolimitFlag">Limit Flag</label>
			<select id="cbolimitFlag">
			<option value="-1" selected="selected">Select Limit Flag</option>
			</select>
		</div>
		
		<div>
		<label for="cbofeesFlag">Fees Flag</label>
		<select id="cbofeesFlag">
		<option value="-1" selected="selected">Select Fees Flag</option>
		</select>
	</div>
		
		   <div>
			<label for="chkpartialPay">Partial Pay</label> <input
				id="chkpartialPay" placeholder="Partial Pay" autocomplete="autocomplete" type="checkbox"></input>
	      </div>
	      
	      <div>
			<label for="cboSTOAccType">STO Account Type</label>
			<select id="cboSTOAccType">
			<option value="-1" selected="selected">Select STO Account Type</option>
			</select>
		</div>
		
		<div>
		<label for="cboSTOType">STO Type</label>
		<select id="cboSTOType">
		<option value="-1" selected="selected">Select STO Type</option>
		</select>
	</div>
	
						</div>
					</article>
 

					<div style="float: left; clear: both">
					<input type="submit" value="Create" id="btnCreate"
						style="float: left; clear: both" /> <input type="submit"
						value="Clear" id="btnClear"  onclick="Clear()"/>
				</div>

				</fieldset>


			</form>


		</section>


	</div>



	<footer>

		<hr />
 
		<div class="content-wrapper clearboth">
			<div class="float-left">
				<p style="font-size: 15px">Copyright &copy; - Software Providers
					Limited. All Rights Reserved.</p>
			</div>
		</div>


		<div class="content-wrapper clearboth">
			<div>

				<img src="/Images/fanikiwa_savings.jpg"
					alt="Fanikiwa - Peer - To - Peer Lending" /> <img
					src="/Images/images.jpg" alt="Fanikiwa - Peer - To - Peer Lending" />

				<img src="/Images/savingsimg.jpg"
					alt="Fanikiwa - Peer - To - Peer Lending" />

			</div>
		</div>


	</footer>

	 

	<script type="text/javascript">

	var errormsg='';
	errormsg +=   '<ul id="errorList">' ;
      // var ROOT ='https://1-dot-fanikiwaweb.appspot.com/_ah/api';
      var ROOT ='http://localhost:8888/_ah/api';   
      function init() {
      
       	try {
       	
        // Parameters are APIName,APIVersion,CallBack function,API Root
        gapi.client.load('stoendpoint', 'v1', null, ROOT);
        gapi.client.load('loanendpoint', 'v1', null, ROOT);
        gapi.client.load('transactiontypeendpoint', 'v1', null, ROOT);
        gapi.client.load('accountendpoint', 'v1', null, ROOT);
          
        document.getElementById('btnCreate').onclick = function() {
        	CreateSTO();
        	  }
        
        populateLoans();
        
        populateMainAccount();
        
        populateContraAccount();
        
        populateMainTransactionType();
        
        populateContraTransactionType();
        
        populateChargeWho();
        
        populateCommissionFrequencyFlag();
        
        populateCommissionAccount();
        
        populateCommissionSourceFlag();
        
        populateLimitFlag();
        
        populateFeesFlag();
        
        populateSTOAccountType();
        
        populateSTOType();
        
       	} catch(exception) {  
            console.log("Error : " + exception);
            errormsg += '<li>' + exception   + '</li>';
            DisplayException(errormsg); 
     }
 }
        
        function CreateSTO() {

           	try {
           	
            errormsg='';
            ClearException(); 
            errormsg +=   '<ul id="errorList">' ;
            var error_free=true;
             
        	// Validate the entries
            var _loanId = document.getElementById('cboloanId').value; 
            var _drAccount = document.getElementById('cbodrAccount').value;
        	var _crAccount = document.getElementById('cbocrAccount').value;
        	var _drTxnType = document.getElementById('cbodrTxnType').value; 
        	var _crTxnType = document.getElementById('cbocrTxnType').value;   
        	var _payAmount = document.getElementById('txtpayAmount').value; 
        	var _totalToPay = document.getElementById('txttotalToPay').value;
        	var _interval = document.getElementById('txtinterval').value;
        	var _noOfPayments = document.getElementById('txtnoOfPayments').value;        	
        	var _amountPaid = document.getElementById('txtamountPaid').value;
        	var _noOfPaymentsMade = document.getElementById('txtnoOfPaymentsMade').value;        	
        	var _amountDefaulted = document.getElementById('txtamountDefaulted').value; 
        	var _noOfDefaults = document.getElementById('txtnoOfDefaults').value;
        	var _createDate = document.getElementById('dtpcreateDate').value;
        	var _startDate = document.getElementById('dtpstartDate').value;
        	var _nextPayDate = document.getElementById('dtpnextPayDate').value;
        	var _endDate = document.getElementById('dtpendDate').value;
        	var _chargeCommFlag = document.getElementById('chkchargeCommFlag').value;
        	var _chargeWho = document.getElementById('cbochargeWho').value;
        	var _commFreqFlag = document.getElementById('cbocommFreqFlag').value;
        	var _commissionAccount = document.getElementById('cbocommissionAccount').value;
        	var _commissionAmount = document.getElementById('txtcommissionAmount').value;
        	var _commissionPaidFlag = document.getElementById('chkcommissionPaidFlag').value;
        	var _commSourceFlag = document.getElementById('cbocommSourceFlag').value;        	
        	var _limitFlag = document.getElementById('cbolimitFlag').value;
        	var _feesFlag = document.getElementById('cbofeesFlag').value; 
        	var _partialPay = document.getElementById('chkpartialPay').value;        	
        	var _STOAccType = document.getElementById('cboSTOAccType').value;
        	var _STOType = document.getElementById('cboSTOType').value;
        	
        	 
         var loan = getLoanByID({'id': _loanId});
       	 if(_loanId.length == 0 || _loanId == -1 || loan == null)
       	 {
       	 errormsg += '<li>' + " Select Loan "   + '</li>'; 
       	 error_free = false;
       	 }
       	 
       	var drAccount = getAccountByID({'id': _drAccount});
      	 if(_drAccount.length == 0 || _drAccount == -1 || drAccount == null)
      	 {
      	 errormsg += '<li>' + " Select Main Account "   + '</li>'; 
      	 error_free = false;
      	 }
      	 
      	var crAccount = getAccountByID({'id': _crAccount});
      	 if(_crAccount.length == 0 || _crAccount == -1 || crAccount == null)
      	 {
      	 errormsg += '<li>' + " Select Contra Account "   + '</li>'; 
      	 error_free = false;
      	 }
      	 
      	var drTxnType = getTransactionTypeByID({'id': _drTxnType});
      	 if(_drTxnType.length == 0 || _drTxnType == -1 || drTxnType == null)
      	 {
      	 errormsg += '<li>' + " Select Main Transaction Type "   + '</li>'; 
      	 error_free = false; 
      	 }
      	 
      	var crTxnType = getTransactionTypeByID({'id': _crTxnType});
      	 if(_crTxnType.length == 0 || _crTxnType == -1 || crTxnType == null)
      	 {
      	 errormsg += '<li>' + " Select Contra Transaction Type "   + '</li>'; 
      	 error_free = false;
      	 }
      	 
       	 if(_payAmount.length == 0)
       	 {
       	 errormsg += '<li>' + " Pay Amount cannot be null "   + '</li>'; 
       	 error_free = false;
       	 }
       	if(_interval.length == 0)
      	 {
      	 errormsg += '<li>' + " Interval cannot be null "   + '</li>'; 
      	 error_free = false;
      	 } 
       	if(_chargeWho.length == 0)
     	 {
     	 errormsg += '<li>' + " Select Charge Who "   + '</li>'; 
     	 error_free = false;
     	 } 
       	if(_commFreqFlag.length == 0)
    	 {
    	 errormsg += '<li>' + " Select Commission Frequency Flag "   + '</li>'; 
    	 error_free = false;
    	 }
       	 
    	 var commissionAccount = getAccountByID({'id': _commissionAccount});
    	 if(_commissionAccount.length == 0 || _commissionAccount == -1 || commissionAccount == null)
    	 {
    	 errormsg += '<li>' + " Select Commission Account "   + '</li>'; 
    	 error_free = false;
    	 }
    	 
    	 if(_commissionAmount.length == 0)
    	 {
    	 errormsg += '<li>' + " Commission Amount cannot be null "   + '</li>'; 
    	 error_free = false;
    	 }
       	if(_commSourceFlag.length == 0)
	   	 {
	   	 errormsg += '<li>' + " Select Commission Source "   + '</li>'; 
	   	 error_free = false;
	   	 }        
       	if(_limitFlag.length == 0)
	   	 {
	   	 errormsg += '<li>' + " Select Limit Flag "   + '</li>'; 
	   	 error_free = false;
	   	 }
      	if(_feesFlag.length == 0)
	   	 {
	   	 errormsg += '<li>' + " Select Fees Flag "   + '</li>'; 
	   	 error_free = false;
	   	 }
      	if(_STOAccType.length == 0)
	   	 {
	   	 errormsg += '<li>' + " Select STO Account Type "   + '</li>'; 
	   	 error_free = false;
	   	 }
     	if(_STOType.length == 0)
	   	 {
	   	 errormsg += '<li>' + " Select STO Type "   + '</li>'; 
	   	 error_free = false;
	   	 }
       	
    	 if (!error_free){
	         errormsg += "</ul>";
	    	 $("#error-display-div").html(errormsg); 
	         $("#error-display-div").removeClass('displaynone');
	         $("#error-display-div").addClass('displayblock');
	         $("#error-display-div").show();  
	         return;
         }
        else{
	        ClearException(); 
         }
         
        	// Build the Request Object
        	var sto = {};
        	sto.amountDefaulted = _amountDefaulted;
        	sto.amountPaid = _amountPaid;
        	sto.chargeCommFlag = _chargeCommFlag;
        	sto.chargeWho = _chargeWho;
        	sto.commFreqFlag = _commFreqFlag;
        	sto.commissionAccount = _commissionAccount;
        	sto.commissionAmount = _commissionAmount;
        	sto.commissionPaidFlag = _commissionPaidFlag;
        	sto.commSourceFlag = _commSourceFlag;
        	sto.crAccount = _crAccount;
        	sto.createDate = _createDate;
        	sto.crTxnType = _crTxnType;
        	sto.drAccount = _drAccount;
        	sto.drTxnType = _drTxnType;
        	sto.endDate = _endDate;
        	sto.interval = _interval;
        	sto.limitFlag = _limitFlag;
        	sto.feesFlag = _feesFlag;
        	sto.loanId = _loanId;
        	sto.nextPayDate = _nextPayDate;
        	sto.noOfDefaults = _noOfDefaults;
        	sto.noOfPayments = _noOfPayments;
        	sto.noOfPaymentsMade = _noOfPaymentsMade;
        	sto.partialPay = _partialPay;
        	sto.payAmount = _payAmount;
        	sto.startDate = _startDate;
        	sto.STOAccType = _STOAccType;
        	sto.STOType = _STOType;
        	sto.totalToPay = _totalToPay;
        	
        	gapi.client.stoendpoint.insertSTO(sto).execute(function(resp) {
        		 console.log(resp);
        		if (!resp.code) {
        			 
        		window.location.href = "/Views/STO/List.html";
        		
        		} 
        		else {
        			console.log(resp.code + " : " + resp.message); 
        			errormsg += '<li>' + resp.code + " : " + resp.message   + '</li>';
        			DisplayException(errormsg);
        		} 
        	});
           	} catch(exception) {  
        		console.log("Error : " + exception);
        		errormsg += '<li>' + exception   + '</li>';
                DisplayException(errormsg);
      }
  }
    	 
       function  getLoanByID(id)
       {
       
         	try {
       // make the api call
       gapi.client.loanendpoint.getLoanByID(id).execute(function(resp) {
         		if (!resp.code) {       			 
         		return resp;       		
         		}       		  
         		else {
         			console.log(resp.code + " : " + resp.message); 
      			errormsg += '<li>' + resp.code + " : " + resp.message   + '</li>';
      			DisplayException(errormsg);
      		}
         	});         	
         	} catch(exception) {  
              console.log("Error : " + exception);
              errormsg += '<li>' + exception   + '</li>';
              DisplayException(errormsg);
        }
       }
       
       function getAccountByID(id)
       {
       
         	try { 
       gapi.client.accountendpoint.getAccount(id).execute(function(resp) {
         		if (!resp.code) {       			 
         		return resp;       		
         		}       		  
         		else {
         			console.log(resp.code + " : " + resp.message); 
      			errormsg += '<li>' + resp.code + " : " + resp.message   + '</li>';
      			DisplayException(errormsg);
      		}
         	});
         	
         	} catch(exception) {  
              console.log("Error : " + exception);
              errormsg += '<li>' + exception   + '</li>';
              DisplayException(errormsg);
        }
       }
       
       function getTransactionTypeByID(id)
       {
       
         	try { 
       gapi.client.transactiontypeendpoint.getTransactionType(id).execute(function(resp) {
         		if (!resp.code) {       			 
         		return resp;       		
         		}       		  
         		else {
         			console.log(resp.code + " : " + resp.message); 
      			errormsg += '<li>' + resp.code + " : " + resp.message   + '</li>';
      			DisplayException(errormsg);
      		}
         	});
         	
         	} catch(exception) {  
              console.log("Error : " + exception);
              errormsg += '<li>' + exception   + '</li>';
              DisplayException(errormsg);
        }
       }
       
       function populateLoans()
       {
      	 var loansarray = [ {id: "5180898790080512", description: "loan1"},
      	          			{id: "5743848743501824", description: "loan2"},
      	          			 {id: "6306798696923136", description: "loan3"}  ];
      	 var loansoptions = '';
           for (var i = 0; i < loansarray.length; i++) {
        	   loansoptions += '<option value="' + loansarray[i].id + '">' + loansarray[i].description + '</option>';
             }
         	try {
         
        gapi.client.loanendpoint.listLoan().execute(function(resp) {
          		 for (var i = 0; i < resp.length; i++) {
          			loansoptions += '<option value="' + resp[i].id + '">' + resp[i].description + '</option>';
          } 
       });         	
         	} catch(exception) {  
              console.log("Error : " + exception);
              errormsg += '<li>' + exception   + '</li>';
              DisplayException(errormsg);
        }
        finally
        {
        $("#cboloanId").append(loansoptions);
        }
       }
       
       function populateMainAccount()
       {
      	 var drAccountarray = [ {id: "5180898790080512", description: "Account1"},
      	          			{id: "5743848743501824", description: "Account2"},
      	          			 {id: "6306798696923136", description: "Account3"}  ];
      	 var drAccountoptions = '';
           for (var i = 0; i < drAccountarray.length; i++) {
        	   drAccountoptions += '<option value="' + drAccountarray[i].id + '">' + drAccountarray[i].description + '</option>';
             }
         	try {
         
        gapi.client.accountendpoint.listAccount().execute(function(resp) {
          		 for (var i = 0; i < resp.length; i++) {
          			drAccountoptions += '<option value="' + resp[i].id + '">' + resp[i].description + '</option>';
          } 
       });         	
         	} catch(exception) {  
              console.log("Error : " + exception);
              errormsg += '<li>' + exception   + '</li>';
              DisplayException(errormsg);
        }
        finally
        {
        $("#cbodrAccount").append(drAccountoptions);
        }
       }
       
       function populateContraAccount()
       {
      	 var crAccountarray = [ {id: "5180898790080512", description: "Account1"},
      	          			{id: "5743848743501824", description: "Account2"},
      	          			 {id: "6306798696923136", description: "Account3"}  ];
      	 var crAccountoptions = '';
           for (var i = 0; i < crAccountarray.length; i++) {
        	   crAccountoptions += '<option value="' + crAccountarray[i].id + '">' + crAccountarray[i].description + '</option>';
             }
         	try {
         
        gapi.client.accountendpoint.listAccount().execute(function(resp) {
          		 for (var i = 0; i < resp.length; i++) {
          			crAccountoptions += '<option value="' + resp[i].id + '">' + resp[i].description + '</option>';
          } 
       });         	
         	} catch(exception) {  
              console.log("Error : " + exception);
              errormsg += '<li>' + exception   + '</li>';
              DisplayException(errormsg);
        }
        finally
        {
        $("#cbocrAccount").append(crAccountoptions);
        }
       }
       
       function populateMainTransactionType()
       {
      	 var drTxnTypearray = [ {id: "5180898790080512", description: "TxnType1"},
      	          			{id: "5743848743501824", description: "TxnType2"},
      	          			 {id: "6306798696923136", description: "TxnType3"}  ];
      	 var drTxnTypeoptions = '';
           for (var i = 0; i < drTxnTypearray.length; i++) {
        	   drTxnTypeoptions += '<option value="' + drTxnTypearray[i].id + '">' + drTxnTypearray[i].description + '</option>';
             }
         	try {
         
        gapi.client.transactiontypeendpoint.listTransactionType().execute(function(resp) {
          		 for (var i = 0; i < resp.length; i++) {
          			drTxnTypeoptions += '<option value="' + resp[i].id + '">' + resp[i].description + '</option>';
          } 
       });         	
         	} catch(exception) {  
              console.log("Error : " + exception);
              errormsg += '<li>' + exception   + '</li>';
              DisplayException(errormsg);
        }
        finally
        {
        $("#cbodrTxnType").append(drTxnTypeoptions);
        }
       }
       
       function populateContraTransactionType()
       {
      	 var crTxnTypearray = [ {id: "5180898790080512", description: "TxnType1"},
      	          			{id: "5743848743501824", description: "TxnType2"},
      	          			 {id: "6306798696923136", description: "TxnType3"}  ];
      	 var crTxnTypeoptions = '';
           for (var i = 0; i < crTxnTypearray.length; i++) {
        	   crTxnTypeoptions += '<option value="' + crTxnTypearray[i].id + '">' + crTxnTypearray[i].description + '</option>';
             }
         	try {
         
        gapi.client.transactiontypeendpoint.listTransactionType().execute(function(resp) {
          		 for (var i = 0; i < resp.length; i++) {
          			crTxnTypeoptions += '<option value="' + resp[i].id + '">' + resp[i].description + '</option>';
          } 
       });         	
         	} catch(exception) {  
              console.log("Error : " + exception);
              errormsg += '<li>' + exception   + '</li>';
              DisplayException(errormsg);
        }
        finally
        {
        $("#cbocrTxnType").append(crTxnTypeoptions);
        }
       }
       
       function populateChargeWho()
       {
        
        var chargewhoarray = [
  			    {id: "B", description: "Borrower"},
  			    {id: "L", description: "Lender"} 
                  ];
        var chargewhooptions = '';
        for (var i = 0; i < chargewhoarray.length; i++) {
        	chargewhooptions += '<option value="' + chargewhoarray[i].id + '">' + chargewhoarray[i].description + '</option>';
        }
        
        $("#cbochargeWho").append(chargewhooptions);
      
       }
       
       function populateCommissionFrequencyFlag()
       {
        
        var commfreqflagarray = [
  			    {id: "Open", description: "Open"},
  			    {id: "Processing", description: "Processing"},
  			    {id: "Closed", description: "Closed"} 
                  ];
        var commfreqflagoptions = '';
        for (var i = 0; i < commfreqflagarray.length; i++) {
        	commfreqflagoptions += '<option value="' + commfreqflagarray[i].id + '">' + commfreqflagarray[i].description + '</option>';
        }
        
        $("#cbocommFreqFlag").append(commfreqflagoptions);
      
       }
       
       function populateCommissionAccount()
       {
      	 var commAccountarray = [ {id: "5180898790080512", description: "Account1"},
      	          			{id: "5743848743501824", description: "Account2"},
      	          			 {id: "6306798696923136", description: "Account3"}  ];
      	 var commAccountoptions = '';
           for (var i = 0; i < commAccountarray.length; i++) {
        	   commAccountoptions += '<option value="' + commAccountarray[i].id + '">' + commAccountarray[i].description + '</option>';
             }
         	try {
         
        gapi.client.accountendpoint.listAccount().execute(function(resp) {
          		 for (var i = 0; i < resp.length; i++) {
          			commAccountoptions += '<option value="' + resp[i].id + '">' + resp[i].description + '</option>';
          } 
       });         	
         	} catch(exception) {  
              console.log("Error : " + exception);
              errormsg += '<li>' + exception   + '</li>';
              DisplayException(errormsg);
        }
        finally
        {
        $("#cbocommissionAccount").append(commAccountoptions);
        }
       }
       
       function populateCommissionSourceFlag()
       {
        
        var commsourceflagarray = [
  			    {id: "Open", description: "Open"},
  			    {id: "Processing", description: "Processing"},
  			    {id: "Closed", description: "Closed"} 
                  ];
        var commsourceflagoptions = '';
        for (var i = 0; i < commsourceflagarray.length; i++) {
        	commsourceflagoptions += '<option value="' + commsourceflagarray[i].id + '">' + commsourceflagarray[i].description + '</option>';
        }
        
        $("#cbocommSourceFlag").append(commsourceflagoptions);
      
       }
       
       function populateLimitFlag()
       {
        
        var limitflagarray = [
  			    {id: "B", description: "Borrow"},
  			    {id: "L", description: "Lend"} 
                  ];
        var limitflagoptions = '';
        for (var i = 0; i < limitflagarray.length; i++) {
        	limitflagoptions += '<option value="' + limitflagarray[i].id + '">' + limitflagarray[i].description + '</option>';
        }
        
        $("#cbolimitFlag").append(limitflagoptions);
      
       }
       
       function populateFeesFlag()
       {
        
        var feesflagarray = [
  			    {id: "Open", description: "Open"},
  			    {id: "Processing", description: "Processing"},
  			    {id: "Closed", description: "Closed"} 
                  ];
        var feesflagoptions = '';
        for (var i = 0; i < feesflagarray.length; i++) {
        	feesflagoptions += '<option value="' + feesflagarray[i].id + '">' + feesflagarray[i].description + '</option>';
        }
        
        $("#cbofeesFlag").append(feesflagoptions);
      
       }
       
       function populateSTOAccountType()
       {
        
        var stoaccounttypearray = [
  			    {id: "B", description: "Borrow"},
  			    {id: "L", description: "Lend"} 
                  ];
        var stoaccounttypeoptions = '';
        for (var i = 0; i < stoaccounttypearray.length; i++) {
        	stoaccounttypeoptions += '<option value="' + stoaccounttypearray[i].id + '">' + stoaccounttypearray[i].description + '</option>';
        }
        
        $("#cboSTOAccType").append(stoaccounttypeoptions);
      
       }
       
       function populateSTOType()
       {
        
        var stotypearray = [
  			    {id: "Open", description: "Open"},
  			    {id: "Processing", description: "Processing"},
  			    {id: "Closed", description: "Closed"} ];
        var stotypeoptions = '';
        for (var i = 0; i < stotypearray.length; i++) {
        	stotypeoptions += '<option value="' + stotypearray[i].id + '">' + stotypearray[i].description + '</option>';
        }
        
        $("#cboSTOType").append(stotypeoptions);
      
       }  
             
       function DisplayException(errormsg) {
    	   
  		 errormsg += "</ul>";
  		 
	    	 $("#error-display-div").html(errormsg); 
	         $("#error-display-div").removeClass('displaynone');
	         $("#error-display-div").addClass('displayblock');
	         $("#error-display-div").show();  
  	}

  	function ClearException() {
  		$('#errorList').remove();
  		$('#error-display-div').empty();
  	}
  	 
  	function Clear(){
	       $("#cboloanId").val("-1");
	       $("#cbodrAccount").val("-1");
	       $("#cbocrAccount").val("-1");
	       $("#cbodrTxnType").val("-1");
	       $("#cbocrTxnType").val("-1");
	       $("#txtpayAmount").val("");
	       $('#txttotalToPay').val("");  
	       $("#txtinterval").val("");
	       $("#txtnoOfPayments").val(""); 
	       $("#txtamountPaid").val("");
	       $("#txtnoOfPaymentsMade").val("");
	       $("#txtamountDefaulted").val("");
	       $("#txtnoOfDefaults").val("");
	       $("#dtpcreateDate").val("");
	       $("#dtpstartDate").val("");
	       $('#dtpnextPayDate').val(""); 
	       $("#dtpendDate").val("");
	       $("#chkchargeCommFlag").attr('checked', false);
	       $('#cbochargeWho').val("-1");   
	       $("#cbocommFreqFlag").val("-1"); 
	       $("#cbocommissionAccount").val("-1"); 
	       $('#txtcommissionAmount').val(""); 
	       $("#chkcommissionPaidFlag").attr('checked', false);  
	       $("#cbocommSourceFlag").val("-1"); 
	       $('#cbolimitFlag').val("-1");  
	       $("#cbofeesFlag").val("-1"); 
	       $("#chkpartialPay").attr('checked', false);  
	       $('#cboSTOAccType').val("-1");  
	       $("#cboSTOType").val("-1"); 
    }
    
    </script>

	<script src="https://apis.google.com/js/client.js?onload=init"></script>




</body>


</html>
